
body {
   box-sizing: border-box;
   margin:0;
}

/*TopNav*/

.top-nav {
    border-bottom: 1px solid #D0D0D0;
}
.top-nav__nav {
    display: flex;
    justify-content: space-around;
}
.top-nav__section {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 7px;
}
.top-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 10px;
    font-weight: 400;
    margin: 0 8px;
    cursor: pointer;
}
.top-nav__link--border {
    border-right: 2px solid #D0D0D0;
    border-radius: 10px/15%;
    padding-right: 10px;
}
.top-nav__link--disabled {
    cursor: default;
}

/*MenuNav*/

.menu-nav {
    margin:10px 0;
    display:flex;
    justify-content: space-around;
}
.menu-nav__logo {
    width:100%;
}
.menu-nav__logo img {
    display:block;
    margin:auto auto;
}
.menu-nav__search-bar {
    width: 100%;
    display:block;
    margin:auto auto;
    padding:10px 20px;
}
.menu-nav__search-bar-input-wrapper {
    border:none;
    padding:10px 20px;
    border-radius: 25px;
    border:1px solid gray;
}
.menu-nav__search-bar-input {
    display:flex;
}
.menu-nav__search-bar-input input,input:focus {
    flex-grow: 1;
    width:auto;
    border:0;
    outline: none!important;
}
.menu-nav__search-bar-input i {
    font-size: 22px;
    color:gray;
}
.menu-nav__actions {
    width:100%;
    display:flex;
    justify-content: center;
}
.menu-nav__actions-login,
.menu-nav__actions-favourite,
.menu-nav__actions-basket {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:5px 10px;
}
.menu-nav__actions-login img,
.menu-nav__actions-favourite img,
.menu-nav__actions-basket img {
    width:40px;
    height:40px;
}

/*BottomNav*/

.bottom-nav {
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    padding:7px 0;
   
}
.bottom-nav__category-list-wrapper {
    margin:0;
    list-style-type: none;
    padding:0;
    display:flex;
    justify-content: space-evenly;
    width:90%;
    margin:0 auto;
}
.bottom-nav__category-list-wrapper li {
    cursor:pointer;
}
.bottom-nav__category {
    width:100%;
    text-align:center;
    padding:5px 0;
    color:gray;
    font-size: 16px;
    font-weight: bold;
}

/*Help*/

.help {
    box-sizing: border-box;
    min-height: 0%;
    max-height: 0px;
    background-color: darken(#F8F8F8, 2%);
    display: flex;
    overflow: hidden;
    transition-duration: 1.5s;
    transition-timing-function: linear; 
    
}
.help__contact {
    box-sizing: border-box;
    border-right: 1px solid #D0D0D0;
    width: 25%;
    margin: 1.5rem 0 1.5rem 4rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help__contact h3 {
    font-size: .9rem;
    color: #585656;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
}
.help__contact p {
    padding-right: 1rem;
    font-size: .8rem;
    color: #63635a;
    margin: .5rem 0;
}
.help__contact a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
}
.help__contact a:hover {
    color: gray;
}
.help__contact small {
    width: 90%;
    font-size: .6rem;
    color: #756c6c;
}
.help__contact-icon {
    width: 100px;
    height: 100px;
    background-image: url("../assets/images/icons/phone_black_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.help__contact-info {
    width: 75%;
    padding: .2rem 2rem;
    margin: 1.5rem 4rem 1.5rem 0;
}
.help__contact-info p {
    font-size: .8rem;
    color: #000;
}

.help__contact-info-email {
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
}
.help__contact-info-email:hover {
    color: gray;
}
.help__contact-info ul{
    column-count: 2;
    list-style: none;
    padding: 0;
    width: fit-content;
    display: block;
}
.help__contact-info ul li {
    width: fit-content;
    text-align: left;
    margin-bottom: 5px;
}
.help__contact-info ul li a {
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 1px;
    color:#000;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: left;
}
.help__contact-info ul li a:hover {
    color: gray;
}
.gridIcon {
    font-size: 1.2rem;
    margin-right: 5px;
    background-image: url("../assets/images/icons/grid_view_black_24dp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    animation-name: rotateGridLeft;
    animation-duration: 800ms;
}
.help__contact-info ul li a:hover .gridIcon {
    animation-name: rotateGridRight;
    animation-duration: 800ms;
    background-color: silver;
}

@keyframes rotateGridRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateGridLeft {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*Newsletter*/
.newsletter {
    background-color: darken(#F8F8F8, 2%);
    overflow: hidden;
    min-height: 0%;
    max-height: 0px; 
    transition-duration: 1.5s;
    transition-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter__discount {
    text-transform: uppercase;
    text-align: center;
    width: 40%;
    padding-right:20px;
}
.newsletter__discount--small {
    color: lighten(#000, 15%);
    font-size: 1.4rem;
    line-height: 85%;
}
.newsletter__discount--big {
    color: lighten(#000, 25%);
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 85%;
}
.newsletter__discount--medium {
    color: lighten(#000, 15%);
    font-size: 1.8rem;
    line-height: 85%;
}
.newsletter__discount--biggest {
    color: #000;
    font-size: 8rem;
    font-weight: bold;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin: 2rem 0 0 0;
    text-transform: none;
}
.newsletter__discount-smaller {
    color: #000;
    font-size: 3rem;
}

.active {
    min-height: 100%;
    max-height: 2000px;
}

.disabled {
    color: #666666;
}

/*NewsletterForm*/

.newsletterForm {
    border-left: 1px solid #D0D0D0;
    width: 100%;
    padding: .5rem 2rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}
.newsletterForm__text {
    color: lighten(#000, 45%);
    font-size: .8rem;
}
.newsletterForm__formWrapper {
    display:flex;
    flex-direction: column;
}
.newsletterForm__form-inputs {
    margin: .8rem 0;
}
.newsletterForm__form-inputs label {
    color: #fff;
}
.newsletterForm__form-inputs input {
    margin-right: 1.5rem;
    border: 1px solid #000;
    border-radius: 25px;
    padding: .2rem 1rem;
    font-size: 1rem;
    width: 25%;
}
.newsletterForm__form-inputs input:focus {
    outline-style: none;
}
.newsletterForm__submit-button {
    width: 25%;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    transition-duration: 500ms;
    font-weight: bold;
    box-sizing: border-box;
}
.newsletterForm__submit-button:hover {
    background-color: lighten(#000, 70%);
    color: #000;
}
.newsletterForm__small-text {
    color: #736969;
    font-size: .7rem;
    margin: 2rem 0 1rem 0;
}
.newsletterForm__select-button {
    width: 50%;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 7px 0;
    transition-duration: 500ms;
    margin-bottom: 1rem;
}
.newsletterForm__select-button:hover {
    background-color: #000;
    color: #fff;
}
.newsletterForm__checkbox-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 5px;
    width:fit-content;
}
.newsletterForm__checkbox-wrapper label {
    color:#fff;
}
.newsletterForm__checkbox-content {
    font-size: .6rem;
    margin-left: .5rem;
    padding:0;
}
.newsletterForm__laws {
    border: 1px solid lighten(#000, 70%);
    padding: .5rem;
}
.newsletterForm__laws p {
    font-size: .6rem;
    margin: 0;
    color: #757575;
}

/*Complaints*/

.complaints {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}
.complaints h4 {
    text-transform:uppercase;
}
.complaints__info {
    width:75%;
    color: lighten(#000, 30%);
}
.complaints__info h4 {
    font-size: .9rem;
}
.complaints__info p {
    font-size: .8rem;
}
.complaints__info ul li {
    font-size: .8rem;
}
.complaints__info div {
    display:flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size:.8rem;
}
.complaints__info-warning {
    color:red;
}
.complaints__returns {
    width:75%;
}
.complaints__returns h2 {
    width:100%;
    border-bottom:2px solid black;
    padding-bottom:10px;
    font-size:1.1rem;
    color: #000;
}
.complaints__returns p {
    font-size:.9rem;
}
.complaints__returns ol li {
    font-size: .9rem;
}
.complaints__returns-remember h3 {
    color:#000;
    font-size: .9rem;
    text-transform: uppercase;
}
.complaints__returns-remember ul {
    list-style-type: disc;
}
.complaints__returns-remember ul li {
    font-size:.8rem;
}
.complaints__icons {
    width:75%;
    display:flex;
    justify-content: flex-end;
}
.complaints__icons a {
    text-decoration: none;
    color:#000;
}
.complaints__icons a:hover {
    color:#00bcf2;
}
.complaints__icons a section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:10px;
}
.complaints__icons a section img {
    width:35px;
    height:35px;
}
.complaints__icons a section span {
    font-size:.8rem;
    font-weight: bold;
    margin-top:10px;
}
.complaints__complaints {
    width:75%;
    margin-top:2rem;
}
.complaints__complaints h2 {
    width:100%;
    border-bottom:2px solid black;
    padding-bottom:10px;
    font-size:1.1rem;
    color: #000;
}
.complaints__complaints-content {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    min-height: 0%;
    max-height: 0px;
    overflow: hidden;
}
.complaints__complaints-content p {
    font-size: .9rem;
    font-weight: bold;
}
.complaints__complaints-content ol li {
    font-size: .8rem;
}
.complaints__another {
    width:75%;
    display:flex;
    flex-direction: column;
}
.complaints__another span {
    font-size: .8rem;
}
.complaints__another a {
    font-weight: bold;
    color:#000;
}

/*Delivery*/

.delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
}
.delivery h2 {
    text-transform: uppercase;
}
.delivery table {
    border: 1px solid #000;
    width: 50%;
}
.delivery table caption {
    margin: 1rem 0;
    font-size: .9rem;
}
.delivery table thead tr th {
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    font-size: .8rem;
    padding: .7rem 1.5rem;
    text-transform: uppercase;
}
.delivery table tbody tr td {
    border: 1px solid #000;
    text-align: center;
} 
.delivery table tbody tr td img {
    display: block;
    margin: 0 auto;
    max-width: 7rem;
    max-height: 4.5rem;
    width: auto;
    height: auto;
}
.delivery ol {
    width: 50%;
    padding: 0 .5em;
}
.delivery ol li {
    font-size: .6rem;
}
.delivery ol li span {
    font-weight: 500;
}

/* SocialMedia */

.socialMedia {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
    padding: 15px 0;
}
.socialMedia a img {
    width:30px;
    height:30px;
    transition-duration: .3s;
}
.socialMedia a img:hover {
    opacity:.7; 
}
.socialMedia a:nth-child(n+2) {
    margin-left:30px;
}

/* NavigationFooter */

.navigationFooter {
    height:fit-content;
    display:flex;
    justify-content: space-evenly;
}
.navigationFooter dl dt {
    text-transform: uppercase;
    font-weight: 700;
    font-size:14px;
    margin-bottom:10px;
}
.navigationFooter dl dd {
    display:block;
    margin-left: 0;
    font-size:12px;
    font-weight: 500;
    padding:3px 0;
}
.navigationFooter dl dd a {
    text-decoration: none;
    color:#000;
    font-weight: 400;
}
.navigationFooter dl dd:hover {
    color:gray;
    cursor:pointer;
}
.navigationFooter dl dd:hover a {
    color:#312F2F;
}
.navigationFooter dl dt,
.navigationFooter dl dd {
    width:100%;
}
.navigationFooter__phone {

}

/*AboutUs - Footer*/

.aboutUs {
    display:flex;
    justify-content: center;
    padding: 20px 0;
}
.aboutUs__container {
    width:70%;
}
.aboutUs__header {
    text-align: center  ;
    border-bottom:1px solid lightgray;
}
.aboutUs__content {
    display:flex;
    padding-top:20px;
}
.aboutUs__content-description {
    width:60%;
}
.aboutUs__content-description img {
    width:90%; 
}
.aboutUs__content-image {
    padding:20px 0;
}
.aboutUs__content-image img {
    width:90%;
    height: 100%;
    display:block;
    margin:0 auto;
}
.aboutUs__content-benefits {
    padding-top:25px;
}
.aboutUs__content-benefits aside h2 {
    font-size:17px;
}

/* Contact */

.contact {
    display:flex;
    justify-content: center;
    padding: 20px 0;
    /* border:2px solid red; */
}
.contact__container {
    width:70%;
    /* border:2px solid green; */
}
.contact__header {
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.contact__options {
    /* border:2px solid gray; */
    display: flex;
    flex-wrap: wrap;
}
.contact__options-form {
    box-sizing: border-box;
    /* border:2px solid blue; */
    width:50%;
}
.contact__options-address {
    box-sizing: border-box;
    /* border:2px solid red; */
    width:50%;
}
.contact__options-data {
    box-sizing: border-box;
    width:50%;
    /* border:2px solid black; */
}
.contact__options-email {
    /* border:2px solid red; */
    width:50%;
    box-sizing: border-box;
}
.contact__options-email div aside {
    display:flex;
    justify-content: space-between;
}

/* discountProgram */

.discountProgram {
    display:flex;
    justify-content: center;
    padding: 20px 0;
}
.discountProgram__container {
    width:70%;
}
.discountProgram__header {
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.discountProgram__wrapper {
    display:flex;
    overflow: hidden;
}
.discountProgram__wrapper-text {
    width:50%;
}
.discountProgram__wrapper-image {
    width:50%;
}
.discountProgram__wrapper-image img {
    width:90%;
    height: auto;
}

/* sizing */

.sizing {
    display:flex;
    justify-content: center;
    padding: 20px 0;
}
.sizing__container {
    width:70%;  
}
.sizing__header {
    text-align: center;
}
.sizing__wrapper {
    display: flex;
}

/* privacyPolicy */

.privacyPolicy {
    display:flex;
    justify-content: center;
    padding: 20px 0;
}
.privacyPolicy__container {
    width:70%;
}
.privacyPolicy__header {
    text-align: center;
    margin-bottom:90px;
}
.privacyPolicy__header h1 {
    font-size:30px;
}
.privacyPolicy__intro h2{
    text-align: center;
}
.privacyPolicy__personalData,
.privacyPolicy__collectingData {
    margin-top:50px;
    margin-bottom:50px;
    text-align: left;
}
.privacyPolicy__personalData h2,
.privacyPolicy__dataSafety h2,
.privacyPolicy__collectingData h2,
.privacyPolicy__dataRecipient h2{
    font-size: 20px;
}
.privacyPolicy__personalData ul li,
.privacyPolicy__dataSafety ul li,
.privacyPolicy__collectingData ul li,
.privacyPolicy__dataRecipient ul li{
   font-size:15px;
}

/* howToBuy */

.howToBuy {
    display:flex;
    justify-content: center;
    padding: 20px 0;
}
.howToBuy__container {
    width:70%;
}
.howToBuy__header h1 {
    text-align: center;
}
.howToBuy__header {
    border-bottom:1px solid lightgray;
}
.howToBuy__info {
    margin:45px 0;
}
.howToBuy section img {
    width:90%;
    height:auto;
}

/* photos-and-colors */

.photos-and-colors {
    display:flex;
    justify-content: center;
    padding: 25px 0;
}
.photos-and-colors__container {
    width:70%;
}
.photos-and-colors__header {
    text-align: center;
    border-bottom:1px solid lightgray;
    padding:10px 0;
}
.photos-and-colors__content {
    padding-top:20px;
    display:flex;
}
.photos-and-colors__text {
    width:60%;
}
.photos-and-colors__image img{
  width:90%;
  height:90%;
}

/* payments */

.payments {
    display:flex;
    justify-content: center;
    padding: 25px 0;
}
.payments__container {
    width:70%;
}
.payments__header {
    text-align: center;
    text-transform: uppercase;
}
.payments__sending-header {
  display:flex;
}
.payments__sending-header img {
    width:75px;
    height:75px;
}
.payments__sending-content div{
    display: flex;
    justify-content: space-around;
}
.payments__sending-content-options div  {
    text-align:left;
}
.payments__payu img {
    display:block;
    margin:0 auto;
}
.payments__payu header,
.payments__paypal header{
    display:flex;
}
.payments__payu header img,
.payments__paypal header img,
.payments__cashOnDelivery img {
    width:100px;
    height:75px;
}
.payments__cashOnDelivery {
    display: flex;
}

/* deliveryTime */

.deliveryTime {
    display:flex;
    justify-content: center;
    padding: 25px 0;
}
.deliveryTime__container {
    width:70%;
}
.deliveryTime__header {
    text-align: center;
    margin-bottom:50px;
}
.deliveryTime__info {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 0;
}
.deliveryTime__info p {
    margin-left:15px;
}
.deliveryTime__table {
    display:block;
    margin:auto auto;
}
.deliveryTime__table table,
.deliveryTime__table td {
    border:1px solid black;
    border-collapse: collapse;
}
.deliveryTime__table table thead tr th {
    background-color:#000;
    color:#fff;
    text-align: center;
    font-size:16px;
    padding:10px;
}
.deliveryTime__table table tbody tr td img{
    display:block;
    margin:auto auto;
    width:150px;
    height:75px;
}
.deliveryTime__table table tbody tr td {
    text-align:center;
    padding:0 10px;
}
.deliveryTime__table table tbody tr td p {
    text-align:center;
}
.deliveryTime__infoGlobal {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 0;
}
.deliveryTime__infoGlobal img {
    width:100px;
    height:70px;
}
.deliveryTime__international_shipments {
    display:flex;
    justify-content: center;
}
.deliveryTime__international_shipments table {
    width:100%;
    border-collapse: collapse;
}
.deliveryTime__international_shipments table thead tr th {
    background-color:#000;
    color:#fff;
    padding:10px;
    font-size: 16px;
}
.deliveryTime__international_shipments table tbody tr td{
    border:1px solid #000;
    text-align: center;
    padding:5px;
}
.deliveryTime__international_shipments table tbody tr td div img {
    width:100px;
    height:50px;
    margin-right:15px;
}
.deliveryTime__international_shipments table tbody tr td div {
    display:flex;
    justify-content: left;
    align-items: center;
}

/* deliveryTracking */

.deliveryTracking {
    display:flex;
    justify-content: center;
   
}
.deliveryTracking__container {
    width:70%;
}
.deliveryTracking__header {
    text-align: center;
    padding:15px 0;
    border-bottom: 1px solid lightgray;
}
.deliveryTracking__content {
    margin:35px 0;
}
.deliveryTracking__content div h2 {
    font-size:18px;
}
.deliveryTracking__content div p {
    margin-left:20px;
    font-size:14px;
}
.deliveryTracking__content div p a {
    text-decoration:underline;
    color:#000;
    font-weight: 700;
    transition-duration: 500ms;
}
.deliveryTracking__content div p a:hover {
    text-decoration:none;
    color:#25CED1;
    font-weight: bold;
}

/* Carousel */

.carousel {
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.carousel:hover .carousel__buttons {
    opacity:1;
}

.carousel__slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: all 0.5s;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.carousel__slide img {
    width: 100%;
    height: 100%;
}
.carousel__buttons {
    position: absolute;
    bottom: 0;
    left:0;
    height:100%;
    width: 100%;
    display:flex;
    justify-content: center;
    transition-duration: 500ms;
    opacity:0;
}
.btn-next {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:7%;
    opacity:0.4;
    background-color: #000;
    border:0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.btn-back {
    background-color: #000;
    position:absolute;
    top:0;
    right:0;
    height: 100%;
    width:7%;
    opacity:0.4;
    border:0;
}
.btn-back:hover .arrow-right {
    left:45%;
    opacity:1;
    cursor: pointer;
}
.btn-next:hover .arrow-left {
    right:45%;
    opacity:1;
    cursor: pointer;
}
.btn-next:hover,
.btn-back:hover {
    background-color: #000;
    opacity:0.7;
}

.arrow-left {
    position: absolute;
    right:0px;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid white;
    opacity:0;
  }
  .arrow-right {
    position: absolute;
    left:0px;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid white;
    opacity:0;
  }
  .carousel button {
    transition-duration: 500ms;
  }
  .carousel button i {
    transition-duration: 500ms;
  }
/* homeScreen */
.homeScreen {
  
   
}
.homeScreen__gallery {
    overflow: hidden;
    width:80%;
    display:block;
    margin:auto auto;
}
.homeScreen__gallery-wrapper {
    display: grid;
    grid-template-areas: 
    "sweater-for-her tracksuit-for-her"
    "jacket-for-her tracksuit-for-her"
    "jacket-for-him blouse-for-him"
    "jacket-for-him waistcoat-for-him"
    "offer-image offer-image";
    gap:10px;
    margin:10px;
}
.homeScreen__gallery-wrapper div {
   position: relative; 
}
.homeScreen__gallery-wrapper div .bg-black {
    position: absolute;
    width:100%;
    height:100%;
    opacity:0;
    z-index:999;
    background-color: #000;
    transition-duration: 400ms;
}
.homeScreen__gallery-wrapper div:hover .bg-black {
    opacity:0.6;
}

.homeScreen__gallery-wrapper div img {
  max-width:100%;
  max-height: 100%;
  z-index:-999;
}
.homeScreen__gallery-wrapper div {
     overflow: hidden;
     display:flex;
     justify-content: center;
     align-items: center;
}
.sweater-for-her { grid-area: sweater-for-her;}
.jacket-for-her { grid-area: jacket-for-her; }
.tracksuit-for-her { grid-area:tracksuit-for-her;}
.jacket-for-him { grid-area:jacket-for-him;}
.blouse-for-him { grid-area:blouse-for-him; }
.waistcoat-for-him { grid-area: waistcoat-for-him;}
.offer-image { 
    grid-area: offer-image;
    position: relative;
    width:100%;
    z-index: -1;
}
.offer-image-links {
    position: absolute;
    width:90%;
    height:100%;
    opacity:1;
    background-color: #00bcf2;
}
.offer-image-links a {
    width: 50%;
    height:100%;
    background-color:red;
    opacity:1;  
    transition-duration: 400ms;
    z-index:10;
}
.offer-image a:hover {
    opacity:0.6;
    background-color: #666666;
}
.homeScreen__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:25px 0;
}
.homeScreen__content-wrapper {
    width:70%;
    color:gray;
}
.homeScreen__content-wrapper h1 {
    font-size:22px;
}
.homeScreen__content-wrapper div h3 {
    font-size: 14px;
}
.homeScreen__content-wrapper div p ,
.homeScreen__content-wrapper div ul{
    font-size: 12px;
}